
body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
}
.top h1
{
    font-size: 50px;
}
.top h1 b
{
    color: aquamarine;
}
.top p
{
    font-size: 20px;
}

.mensaje h2
{
    margin-bottom: 15px;
}

.center
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 85%;
}

.mensaje
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    width: 40%;
    padding: 15px;
}
.info
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.info > div > div
{
    margin-bottom: 10px;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div
{
    display: flex;
    flex-direction: column;
}
.line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.line > div
{
    width: 100%;
}
input
{
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
}
textarea
{
    border-radius: 5px;
}
button
{
    margin-top: 20px;
    width: 200px;
    font-size: 15px;
    padding: 5px;
    border-radius: 8px;
}
.form
{
    width: 100%;
}

hr
{
    margin-top: 15px;
    margin-bottom: 15px;
}