* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacto {
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

.menu-contacto {
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 40px;
}

.titulo { 
    text-align: center; 
    margin-bottom: 50px; 
}

.titulo h1 { 
    font-size: 3.5rem;
    text-transform: uppercase; 
    font-weight: 800;
    margin-top: 40px;
}

.titulo span { color: #00e5ff; }
.titulo p { color: #888; margin-top: 10px; }

.formulario-entero {
    display: flex;
    gap: 30px;
    align-items: stretch;
}

.mensaje {
    flex: 1.8;
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
    display: flex;
    flex-direction: column;
}

.mensaje form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mensaje h2 {
    color: #00e5ff;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.columna-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.formulario-abajo {
    background: #1a1a1a;
    padding: 35px;
    border-radius: 15px;
    border: 1px solid #2a2a2a;
}

.mapa {
    flex-grow: 1;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #2a2a2a;
    min-height: 250px;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.lateral { display: flex; gap: 20px; margin-bottom: 20px; }
.arriba-correo { flex: 1; }

.correo { 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
}

.correo:last-of-type {
    flex-grow: 1; 
}

input, textarea {
    width: 100%;
    background: #0a0a0a;
    border: 1px solid #333;
    color: #fff;
    padding: 12px 15px;
    border-radius: 8px;
}

textarea {
    flex-grow: 1;
    min-height: 200px; 
    resize: none;
}

.enviar {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #00e5ff;
    color: #00e5ff;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 20px;
}

.enviar:hover {
    background: #00e5ff;
    color: #000;
}

.contenido-icono { 
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 25px; 
}

.circulo { 
    background: #252525; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.datos h3 { 
    font-size: 1.1rem; 
    margin: 0; 
}
.datos p { 
    font-size: 0.95rem; 
    color: #aaa; 
    margin: 0; 
}
.divisor { 
    border: 0; 
    border-top: 1px solid #333; 
    margin: 20px 0 30px 0; 
}
