.contacto {
    background-color: #080808;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

.menu-contacto {
    max-width: 1400px;
    margin: 0 auto;
    padding: 120px 40px;
}

.titulo { 
    text-align: center; 
    margin-bottom: 60px; 
}

.titulo h1 { 
    font-size: 4rem;
    text-transform: uppercase; 
    margin: 0;
    font-weight: 800;
}

.titulo span { color: #00e5ff; }

.titulo p {
    color: #888;
    font-size: 1.2rem;
    margin-top: 15px;
}

.formulario-entero {
    display: flex;
    gap: 40px;
    align-items: stretch;
}

.mensaje {
    flex: 1.8;
    background: #111;
    padding: 50px;
    border-radius: 15px;
    border: 1px solid #222;
    margin-bottom: 1500px;
}

.mensaje h2 {
    color: #00e5ff;
    font-size: 2rem;
    margin-bottom: 35px;
}

.columna-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.formulario-abajo {
    background: #111;
    padding: 45px;
    border-radius: 15px;
    border: 1px solid #222;
}

.formulario-abajo h2 {
    font-size: 2rem;
    margin: 0;
}

.divisor {
    border: 0;
    border-top: 1px solid #333;
    margin: 20px 0 35px 0;
}

.contenido-icono {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
}

.circulo {
    background: #1d1d1d;
    width: 60px;
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.datos h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
}

.datos p {
    margin: 5px 0 0 0;
    color: #aaa;
    font-size: 1rem;
}

.mapa {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #222;
    height: 300px;
}

label {
    display: block;
    color: #888;
    margin-bottom: 10px;
    font-size: 0.95rem;
}

input, textarea {
    width: 100%;
    background: #000;
    border: 1px solid #333;
    color: #fff;
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #00e5ff;
}

.lateral { display: flex; gap: 20px; margin-bottom: 25px; }
.arriba-correo { flex: 1; }
.correo { margin-bottom: 25px; }

.enviar {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #00e5ff;
    color: #00e5ff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 8px;
    margin-top: 10px;
}

.enviar:hover {
    background: #00e5ff;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.4);
}